<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Erreur 500</title>
		<link rel="stylesheet" href="/style/style_cam_error.css">
	</head>
	<body>
		<p><strong>Erreur caméra</strong> (probablement co sur discord donc la cam est pas accessible ce gros sac)</p>
	<figure>
	<img alt = "Une image de chat pour vous réconforter" src = "https://cataas.com/cat/says/ERREUR%20:(">
	<figcaption>Voici une petite image de chat pour vous détendre en attendant</figcaption>
	</figure>
	</body>
</html>
