<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style/style_projects.css">
  <title>Projets de jouDeJgoude</title>
</head>
<body>
  <header>
    <h1>My Projects</h1>
    <p>A quick sneak peak into what I created (Python, C++, JavaScript, ...)</p>
  </header>

    <div class="container">
      <div class="grid">
        
        <div class="card">
          <img src="assets/rasterizer.bmp" alt="Image of rasterizer result">
          <div class="card-content">
            <h3>Python Rasterizer</h3>
            <p>A python project I made to implement from scratch a rasterizer, which can display any 3d model in the .obj format</p>
            <a href="https://github.com/bouDeScotch/rasterization">See on github</a>
          </div>
        </div>
        <div class="card">
          <img src="assets/rasterizer.bmp" alt="Image of rasterizer result">
          <div class="card-content">
            <h3>Python Rasterizer</h3>
            <p>A python project I made to implement from scratch a rasterizer, which can display any 3d model in the .obj format</p>
            <a href="https://github.com/bouDeScotch/rasterization">See on github</a>
          </div>
        </div>
        <div class="card">
          <img src="assets/rasterizer.bmp" alt="Image of rasterizer result">
          <div class="card-content">
            <h3>Python Rasterizer</h3>
            <p>A python project I made to implement from scratch a rasterizer, which can display any 3d model in the .obj format</p>
            <a href="https://github.com/bouDeScotch/rasterization">See on github</a>
          </div>
        </div>
      </div>
    </div>

    <footer>
      &copy; 2025 bouDeScotch - Tout droits réservés.
    </footer>
</body>
</html>
